{% extends "root.html" %}
{% load static %}

{% block body %}

<div class="jumbotron home-page" id="center">
    <div class="container text-center dept-of-housing">
        <img src="{% static 'img/en-logo-transparent.png' %}" class="logo" alt="" width="87" height="70">
        <h2>
            <span class="bold">moos.garden</span>
        </h2>
        <div class="row">
            <h3 class="col-sm-8 col-sm-offset-2">Placeholder: A network of place-based communities experimenting with new forms of governance and solidarity.</h3>
        </div>
    </div>
</div>

<div class="text-center container" id="locations">

    <h2 class="featurette-heading">Locations</h2>


    {% for location in locations %}

        <a href="{% url 'location_detail' location.slug %}" class="col-lg-4 col-md-6">
            <div class="location-box">
                <img src="{{MEDIA_URL}}{{location.profile_image}}" class="location-photo panel panel-default" width="336" height="344">
                <div class="location-name">
              <h2 class="bold">{{ location.name }}<br> <em class="small">{{ location.address}}</em></h2>
            </div>
            </div>
        </a>
    {% endfor %}
</div>

</div>

{%endblock %}

{% block extrajs %}
{% endblock %}
